<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD6wzG2rPNdsnKz1b7-8GjxTcldmetnb1U</string>
	<key>GCM_SENDER_ID</key>
	<string>69253569246</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterCafeAdmin.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-afterschool-a4162</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-afterschool-a4162.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:69253569246:ios:2c0aacd868eed28079804f</string>
</dict>
</plist>